## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными надстройками Visual Studio.
##
## Получить последние новости от https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Пользовательские файлы
*.rsuser
*.suo
*.пользователь
*.userosscache
*.sln.docstates

# Пользовательские файлы (MonoDevelop / Xamarin Studio)
*.пользовательские настройки

# Результаты построения
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Мм]/
[Aa][Rr][Мм]64/
блд/
[Bb]в/
[Oo]БЖ/
[Ll]og/

# Visual Studio 2015/2017 каталог кэша / параметров
.против/
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Автоматически создаваемые файлы Visual Studio 2017
Файлы\ Сгенерированные/

# Результаты теста MSTest
[Tt] есть[Rr] результат*/
[Bb] уилд[Лл]ог.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Результаты сборки проекта ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Результаты тестов
Бенчмаркдотнет.Артефакты/

# .NET Core
project.lock.json
project.fragment.lock.json
артефакты/

# StyleCop
StyleCopReport.xml

# Файлы, созданные Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.мета
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.строит
*.pidb
*.svclog
*.scc

# Файлы тестов Chutzpah
_чуцпа*

# Файлы кэша Visual C++
ipch/
*.точки доступа
*.ncb
*.opendb
*.opensdf
*.sdf
*.кэш-файл
*.VC.db
*.VC.VC.opendb

# Профилировщик Visual Studio
*.psess
*.всп
*.vspx
*.sap

# Файлы трассировки Visual Studio
*.e2e

# Локальное рабочее пространство TFS 2012
$tf/

# Инструментарий автоматизации руководства
*.gpState

# ReSharper - это надстройка для программирования .NET
*_ReSharper/
.*[Rr]e[Ss]харпер
*.Настройки точек.пользователь

# JustCode - это надстройка для программирования .NET
.Просто закодируйте

# TeamCity - это надстройка для сборки
_TeamCity*

# dotCover - это инструмент для покрытия кода
*.Точечная обложка

# AxoCover - это инструмент для покрытия кода
.axoCover/*
.axoCover!/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject - это надстройка генератора документации
DocProject/buildhelp/
DocProject/Справка/*.HxT
DocProject/Справка/*.HxC
DocProject/Справка/ *.hhc
DocProject/Справка/*.hhk
DocProject/Справка/*.hhp
DocProject/Справка/Html2
DocProject/Справка/html

# Каталог с одним щелчком мыши
опубликовать/

# Опубликовать веб-вывод
.*[Pp]ublish.xml
*.azurePubxml
# Примечание: прокомментируйте следующую строку, если вы хотите проверить настройки веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованными
*.pubxml
*.publishproj

# Параметры публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если хотите
# проверка параметров публикации веб-приложения Azure, но конфиденциальная информация, содержащаяся
# в этих скриптах будут незашифрованы
Опубликовать скрипты/

# Пакеты NuGet
*.nupkg
# Папка пакетов может быть проигнорирована из-за восстановления пакета
**/[Pp]учетные записи/*
# кроме build/ , который используется в качестве целевого объекта MSBuild.
**!/[Pp]аккаунты/сборка/
# Раскомментировать при необходимости, однако, как правило, он будет восстановлен при необходимости
#!**/[Pp]учетные записи/репозитории.config
# Файлы project.json в NuGet v3 создают больше игнорируемых файлов
*.nuget.props
*.nuget.targets

# Выходные данные сборки Microsoft Azure
csx/
*.build.csdef

# Эмулятор Microsoft Azure
ecf/
rcf/

# Каталоги и файлы пакетов приложений Windows Store
Пакеты приложений/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Файлы кэша Visual Studio
# файлы, заканчивающиеся на .cache, могут быть проигнорированы
.*[Cc]боль
# но следите за каталогами, заканчивающимися на .cache
.?*![Cc]боль/

# Другие
Клиентская корзина/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.опубликовать настройки
orleans.codegen.cs

# Включение файлов со строгими именами может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424 )
#*.snk

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622 )
#bower_компоненты/

# RIA/Silverlight projects
Сгенерированный код/

# Резервное копирование и создание отчетов о файлах в результате преобразования старого файла проекта
# в более новую версию Visual Studio. Резервные копии файлов не нужны,
# потому что у нас есть git ;-)
_UpgradeReport_Files/
*Резервное копирование/
Список обновлений *.XML
Список обновлений*.htm
Резервная копия ServiceFabricBackup/
*.rptproj.bak

# Файлы SQL Server
*.mdf
*.ldf
*.ndf

# Проекты бизнес-аналитики
*.rdl.data
*.bim.layout
*.bim_*.настройки
*.rptproj.rsuser
*- Резервное копирование * .rdl

# Подделки Microsoft
Поддельные сборки/

# Файл настроек плагина GhostDoc
*.GhostDoc.xml

# Node.js Инструменты для Visual Studio
.ntvs_analysis.dat
node_modules/

# Журнал сборки Visual Studio 6
*.plg

# Файл параметров рабочей области Visual Studio 6
*.выбрать

# Автоматически созданный файл рабочей области Visual Studio 6 (содержит, какие файлы были открыты и т.д.)
*.vbw

# Выходные данные сборки Visual Studio LightSwitch
**/*.HTMLClient/Созданные статьи
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/Созданные статьи
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Менеджер зависимостей пакетов
.paket/paket.exe
пакет-файлы/

# ПОДДЕЛКА - F# Сделать
.подделка/

# Гонщик JetBrains
.идея/
*.sln.iml

# Личные настройки CodeRush
.cr/личный

# Инструменты Python для Visual Studio (PTVS)
__pycache__/
*.pyc

# Торт - раскомментируйте, если вы его используете
# инструменты/**
# !tools/packages.config

# Студия вкладок
*.tss

# Конфигурационный файл JustMock от Telerik
*.jmconfig

# Вывод сборки BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Результаты анализа пользовательского интерфейса OpenCover
Открыть обложку/

# Вывод локального запуска Azure Stream Analytics
ASALocalRun/

# Двоичный и структурированный журнал MSBuild
*.binlog

# Файл конфигурации отладчика графического процессора NVidia Nsight
*.nvuser

# Рабочая папка MFractors (инструмент повышения производительности Xamarin)
.mfractor/

# Локальная история для Visual Studio
.локальная история/

# Временная база данных BeatPulse healthcheck
healthchecksdb